 
  select * from options



  insert into AuthorPlanOptions values (6,9) --citas
  go
  insert into AuthorPlanOptions values (6,19) --xxxx
   go
  insert into AuthorPlanOptions values (6,12) --analisticas
 go
 --lab
 go
 --certificado
 go
 --receta
 go
  








